.contact {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/b9f8ec48895137.58a4f3622b829.jpg");
  background-size: cover;
}

.contactTitle {
  font-size: 50px;
  color: grey;
  padding-top: 50px;
}

.contactText {
  margin: 10px;
  margin-top: 20px;
  padding: 5px;
  width: 80%;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
